<h1>Web Chat</h1>

<div class="chat-area">
    <ul id="messages"></ul>
</div>
<div class="input-area">
    <p><b>Chatting as: </b>{{handle}}</p>
    <input type="hidden" id="handle" value={{handle}}>
    <input type="text" id="inputBox">
    <button id="sendBtn">SEND</button>
</div>
<script src="js/socket.js"></script>
