<h1>Register Handle</h1>
<div class="loginBox">
    <form action="/" method="POST">
        <label for="handle">Enter a Handle: </label>
        <input id="newHandle" type="text" name="handle" maxLength="16">
        <input id="startBtn" type="submit" name="New Handle" value="Start Chatting">
    </form>
</div>